*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px 15px;
    width: 40%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 20px;

    
}
.items{
    text-align:center;
    background-color: rgb(172, 163, 163);
    padding: 20px;
    font-size: 30px;

}
.one{
    padding-top: 50px;
    grid-area: 1 / 1 / span 2 / span 2;
    
   
 
}

.six{
    padding-top: 50px;
    grid-area: 3 / 2 / span 2 / span 2;
}
.seven{
    padding-top: 50px;
    grid-area: 5 / 1 / span 2 / span 2;
}