*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(204, 181, 181);
}
.cover{
    position: relative;
  
}
.img-center{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        right: 25%;
        left: 25%;
        width: 50%;
        z-index: -21;
        margin-top: 10px;
     
       
      
}

.cover h1{
    text-align: center;
    position: absolute;
    color: white;
    top: 70px;
    right: 400px;
    box-shadow: 0 0.5px white , 0 0 white , 0 0 white , 0 -2px white;


}

.nav{
    position: relative;
    top: 180px;
  
}
.nav-bar{
    display: flex;
    width:60%;
    margin-left:20%;
    margin-right:20%; 
    background-color: rgb(110, 106, 106);
   
    z-index:200;
   

   
}
.sticky{
    position: sticky;
   top: 0;
}
.nav-bar a{
 
  color: #f2f2f2;
  text-align: center;
  padding: 9px 30px 9px 25px ;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Lobster', cursive;

}
.nav-bar a:hover{
    background-color: rgb(253, 143, 238);
    color: black;
}



 .part-1 ,.part-2 {
    position: relative;
    margin-top: 15px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin-left:25%;
    margin-right:25%; 
    margin-bottom: 8px;
    box-shadow: 8px 8px 2px rgb(151, 148, 148), 
    -5px -5px 2px rgb(151, 148, 148);
  }

  
  .part-1 .row:after , .part-2 .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .part-1 .column-1 , .part-2 .column-1 {
    float: left;
    width: 28%;
    margin-top: 6px;
  }
  
   .part-1 .column-2 ,   .part-2 .column-2{
    float: left;
    width: 30%;
    margin-top: 6px;
    
  }

    
  
  .container label , .container-2 label {
      padding: 6px;
      font-size: 18px;
    
    display: inline-block;
  }

  .container .part-1 input ,.container-2  .part-2 input {
    width: 100%;
    padding: 4px;
    border: 2px solid rgb(44, 43, 43);
    border-radius: 8px;
    
  }

.part-2 input[type="radio"]{
    width:25%;
    padding: 5px;
    border: 1px solid rgb(44, 43, 43);
    border-radius: 4px;
}

#Personal-img{
    position: absolute;
  bottom:70px;
  right: 6px;
     width:220px;
 height: 180px;

}



 #education-img{
    position: absolute;
    bottom:20px;
    right: 8px;;
        width:220px;
     height: 180px;
}


/*  part3 */

.flex-box-part3{
    background-color: #F2F2F2;
    padding: 40px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    display: flex;
    margin-top: 15px;
    box-shadow: 8px 8px 2px rgb(151, 148, 148), 
    -5px -5px 2px rgb(151, 148, 148);
    justify-content: flex-start;
    }
    .skills-header{
    display: block;
    position: absolute;
    top:0; 
    margin-top: 10px;}
    .skills-flex{
        display:inline-block ;
        margin-left: 40px;
        padding: 20px;
        justify-content: flex-start;
        box-shadow:2px 0px 0px rgb(136, 133, 133); 
    }






.footer{
    position: relative;
    bottom: 0;
        width: 98%;
    height: 20%;
    background-color: rgb(131, 129, 129);
    color: rgb(250, 244, 244);
 padding:60px;
 margin-left: 20px;
 font-size: 25px;
 margin-top: 60px;
 margin-right: 10px;
 
  
}
.footer p{
    text-align: center;
    line-height: 30px;
}

.footer h3
{
    text-align: center;
    color: green;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    margin-top: 10px;
}
.footer a{
    color:white;
    text-decoration: none;
}

h3:active{
    color:rgb(140, 238, 13) ;
}
.footer a:hover{
    color:green;
    font-weight: bolder;
}